header{
  width: 100vw;
  max-width: 700px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3 {
  color: var(--secondary);
}

h3 > span {
  color: var(--green80);
}

@media (max-width: 500px){
  header{
    justify-content: center;
  }
  .links{
    display: none;
  }
}


