.about{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about h2 {
  font-size: 4rem;
}

.about p {
  font-weight: 200;
  font-size: 2rem;
  line-height: 1.6;
  max-width: 65ch;
  color: var(--black60);
}

.about p > b, .about p > b > a {
  color: var(--black);
}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.links a {
  color: var(--black60);
  font-size: 2.5rem;
  cursor: alias;
  transition: color 0.3s ease;
}

.links a:hover, .about p > b > a:hover {
  color: var(--primary);
  text-decoration-skip-ink: all;
  text-underline-offset: 4px;
  text-decoration-style: wavy;
}

@media (max-width: 576px) {
  .links a {
    font-size: 1.65rem;
  }
  .about h2 {
    font-size: 3rem;
  }
  .about p {
    font-size: 1.5rem;
  }
}
