.floating-nav {
  position: fixed;
  bottom: 25px;
  overflow: hidden;
  border: 1px solid var(--secondary5);
  background: var(--secondary10);
  backdrop-filter: blur(20px);
  border-radius: 24px;
  padding: 8px;
  min-height: 40px;
  display: flex;
  gap: 32px;
  z-index: 10;
}

.floating-nav > p {
  padding: 4px;
  color: var(--secondary10);
  cursor: pointer;
  transition: .3s ease-in-out;
}

.floating-nav > p > span {
  color: transparent;
  transition: .3s ease-in-out;
}

.floating-nav > p.active-link {
  color: var(--secondary);
}

.floating-nav > p.active-link > span {
  color: var(--green80);
}

.links{
  display: none;
}

@media (max-width: 500px) {
  .links{
    display: flex;
  }
}
