/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,100..900,100,1;1,9..144,100..900,100,1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-variation-settings:
    "SOFT" 100,
    "WONK" 1;
}

router-outlet{
  display: none;
}

:root {
  --white: #f8f8ff;
  --white60: #f8f8ff99;
  --black: #0B1B25;
  --black60: #0B1B2599;
  --gray: #f1f1f7;
  --primary: #12DF8FFF;
}

body{
  background: var(--white);
  overscroll-behavior: none;
}

main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  gap: 3rem;
  padding: 1rem;
  animation: 1s reveal ease-in-out;
}

nav[aria-label] {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn-navigation {
  background: none;
  border: none;
  width: 100%;
  text-align: right;
  color: var(--black);
  font-size: 3rem;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.btn-navigation:hover {
  font-style: italic;
}

/* WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Per Firefox */
* {
}

/* Per IE e Edge */
body {
  -ms-overflow-style: none;
}

@keyframes reveal {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .btn-navigation {
    font-size: 2rem;
  }
}
